<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>管理 | 仪表盘</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 引入header -->
    <div th:replace="admin/commons/_header.html"/>
    <!-- 引入sidebar -->
    <div th:replace="admin/commons/_sidebar.html"/>
    <!-- 页面内容 -->
    <div class="content-wrapper">
        页面内容
    </div>
    <!-- 引入footer -->
    <div th:replace="admin/commons/_footer.html"/>
</div>
</body>
</html>